<% if(user.role === "user"){ %>

  <h1 class="welcome-msg">Welcome <%= user.fullname %> !</h1>

  <img src="<%= user.imageUrl %>">

  <p class="user-info-title"><%= user.fullname %>'s information:</p>
  <p class="user-info"> Age: <%= user.age %> </p>
  <p class="user-info"> Country: <%= user.country %> </p>
  <p class="user-info"> Phone: <%= user.phone %> </p>
  <p class="user-info"> Occupation: <%= user.occupation %> </p>
  <p class="user-info"> Mini Biography: <%= user.bio %> </p>

  <div><button class="btn"><a href="http://localhost:3000/editProfileUser/<%=user._id %>">Edit your profile</a></button></div>


<% } else{ %>  

   <h1>Welcome <%= user.fullname %> </h1>

   <p class="see-volunteers"><a href="http://localhost:3000/volunteersDatabase">See available volunteers</a></p>
   

   <p class="edit-your-profile"><a href="http://localhost:3000/editProfileUser/<%= user._id %>">Edit your profile</a></p>
<% } %>



<!-- <% if(user.role === "user"){ %>

<h1>Welcome <%= user.fullname %> </h1>
  <button class="btn"><a href="http://localhost:3000/where-we-work">Where we work</a></button>
  <button class="btn"><a href="http://localhost:3000/editProfileUser">Edit your profile</a></button>
  <img src="<%= user.imageUrl %>">
<% } else{ %>

       
<h1>Welcome <%= user.fullname %> </h1>

     <button class="btn"><p><a href="http://localhost:3000/volunteersDatabase">See available volunteers</p></button>
     </br>
     <div><button class="btn"><a href="http://localhost:3000/editProfileUser">Edit your profile</a></button></div>
<% } %> -->
